<!DOCTYPE html>
<html>
<head>
    <title>podekex-app</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<h1>Bem vindo ao podekex-app</h1>
<div class="container">
    <div class="card">
        <h2>Pokémons</h2>
        <a href="/pokedex">Ver Pokémons</a>
        <a href="/add-pokemon">Adicionar Pokémon</a>
    </div>
    <div class="card">
        <h2>Treinadores</h2>
        <a href="/trainers">Ver Treinadores</a>
        <a href="/add-trainer">Registrar Treinador</a>
    </div>
</div>
</body>
</html>